allure-pytest==2.13.2
allure-python-commons==2.13.2
annotated-types==0.5.0
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
distconfig3==1.0.1
exceptiongroup==1.1.2
gevent==23.7.0
graphql-core==3.2.3
greenlet==2.0.2
idna==3.4
iniconfig==2.0.0
packaging==23.1
pluggy==1.2.0
pydantic==2.1.1
pydantic_core==2.4.0
PyHamcrest==2.0.4
pytest==7.3.0
PyYAML==6.0.1
requests==2.31.0
sgqlc==16.3
six==1.16.0
structlog==23.1.0
toml==0.10.2
tomli==2.0.1
typing_extensions==4.7.1
urllib3==2.0.4
vyper-config==1.1.1
watchdog==3.0.0
websocket==0.2.1
websocket-client==0.37.0
# websocket-client==0.56.0
zope.event==5.0
zope.interface==6.0
